# 5주차 데이터 분석 1
---

오늘부터는 파이썬을 활용한 데이터 분석을 시작합니다. 파이썬 데이터 분석에 가장 많이 활용되는 패키지 numpy와 pandas부터 배워봅시다.

- numpy
- pandas

---

## Numpy

In [91]:
import numpy as np

In [4]:
value = 'Test' if 1 == 1 else 'NoTest'

In [3]:
value

'Test'

In [94]:
# “standard normal” distribution
from numpy.random import randn
dataset1 = randn(100)
print dataset1

[ -9.42048417e-01   1.36143832e+00   6.96927567e-02   4.70423926e-01
  -1.07702346e+00   1.59274225e+00  -1.72486601e+00   6.00622300e-01
   1.19527984e+00  -2.71875118e-01   7.72945915e-01   5.93349268e-01
  -3.55120700e-01   1.09375021e-01  -7.09211986e-01   9.20964517e-01
   8.08406065e-01   4.84378143e-01  -9.26712057e-01   2.88923356e-01
   1.45903583e+00  -8.40510706e-01  -1.01619683e+00  -8.21289227e-01
  -1.05696576e-03   9.11060962e-01  -9.19282364e-02   1.89958678e-01
   6.70217542e-01   1.63270518e+00  -3.47183270e-01   4.31404206e-01
  -1.74550101e+00   3.34539245e-02   5.46837523e-01  -7.92802702e-01
  -1.49170935e+00  -1.50523146e+00  -7.81356926e-01   9.57462819e-01
   1.01816412e+00   2.26623651e-01   7.88460203e-01   3.56342382e-01
   4.34785565e-01  -3.57338269e-01   1.15419166e+00  -2.55845850e+00
  -1.70644556e+00   2.83585071e-01  -6.15776351e-02  -1.64388236e+00
   2.37600383e-01   1.89893289e+00   4.30627857e-01  -3.87886133e-01
   1.92599910e+00   9.76533587e-01  -2.41022982e-01  -2.70461570e-01
  -4.97076805e-01   4.69408734e-01  -4.28602740e-03  -2.97867526e-01
   9.32399912e-02  -9.79306874e-01   8.44060924e-01  -1.75644999e+00
  -9.67828170e-01   3.58304216e-01   4.67642823e-01  -6.97166123e-01
   1.31779455e+00   8.48467260e-01   9.57638664e-01   1.93658607e+00
  -2.68621794e-01   1.44818135e+00   3.01210639e-01   8.66421305e-01
  -4.70112716e-01   8.22679838e-03  -2.54478863e-01   6.57153325e-01
   1.17799025e+00  -2.04302576e+00  -8.81918897e-01  -1.31119154e+00
  -1.54283514e+00   3.51096421e-01  -7.82844693e-01   1.01139061e+00
  -2.27464732e+00  -1.09912784e+00  -2.22823541e-01  -2.14332570e+00
  -6.66245790e-01  -2.92969289e-01   6.00161478e-01   3.51364064e-01]

# Pandas

- pandas란?
    - .read_csv
- Series
- DataFrame
    - .head()
    - .tail()
    - len(df)
    - .info()
    - .apply()
    - .map({0: "no", 1:"yes"})

## Series

## DataFrame

In [37]:
import pandas
from pandas import Series, DataFrame

# axis

- axis=0: down, apply a method down each colomn, or to the row labels (this index).
- axis=1: across, apply a method down each row, or to the column labels.

In [64]:
df = DataFrame([[1, 1, 1, 1], [2, 2, 2, 2], [3, 3, 3, 3]], columns=["col1", "col2", "col3", "col4"], index=['a','b','c'])
df

   col1  col2  col3  col4
a     1     1     1     1
b     2     2     2     2
c     3     3     3     3

In [49]:
# column 기준. axis=1
df.mean(axis=1)

0    1
1    2
2    3
dtype: float64

In [52]:
# 기본적으로 row(axis=0) 기준으로 설정되어 있습니다.
df.mean()

col1    2
col2    2
col3    2
col4    2
dtype: float64

In [72]:
# column 기준. axis=1
df.drop("col4", axis=1)

   col1  col2  col3
a     1     1     1
b     2     2     2
c     3     3     3

In [81]:
df.drop(df.index[[1,2]])

   col1  col2  col3  col4
a     1     1     1     1

## apply

In [5]:
def create_person(name, age, blood_type, skill):
    person = {
        'name': name,
        'age': age,
        'blood_type': blood_type,
        'skill': skill
    }
    return person

In [8]:
people = []
people.append(create_person("hj", 15, 'A', 'python'))
people.append(create_person("hj1", 25, 'AB', 'C'))
people.append(create_person("hj2", 35, 'B', 'C'))
people.append(create_person("hj3", 45, 'A', 'python'))
people.append(create_person("hj4", 55, 'O', 'javascript'))
print people

[{'skill': 'python', 'age': 15, 'name': 'hj', 'blood_type': 'A'}, {'skill': 'C', 'age': 25, 'name': 'hj1', 'blood_type': 'AB'}, {'skill': 'C', 'age': 35, 'name': 'hj2', 'blood_type': 'B'}, {'skill': 'python', 'age': 45, 'name': 'hj3', 'blood_type': 'A'}, {'skill': 'javascript', 'age': 55, 'name': 'hj4', 'blood_type': 'O'}]

In [17]:
data = DataFrame(people, columns=['name', 'age', 'blood_type', 'skill'])
print data

  name  age blood_type       skill
0   hj   15          A      python
1  hj1   25         AB           C
2  hj2   35          B           C
3  hj3   45          A      python
4  hj4   55          O  javascript

In [19]:
data[['age','skill']]

   age       skill
0   15      python
1   25           C
2   35           C
3   45      python
4   55  javascript

In [22]:
def set_position(characters):
    age, skill = characters
    if age > 30:
        return 'manager'
    else:
        return skill + " engineer"
    

data['position'] = data[['age', 'skill']].apply(set_position, axis=1)

In [23]:
data

  name  age blood_type       skill         position
0   hj   15          A      python  python engineer
1  hj1   25         AB           C       C engineer
2  hj2   35          B           C          manager
3  hj3   45          A      python          manager
4  hj4   55          O  javascript          manager

In [89]:
# row에 apply
data[['age', 'skill']].apply(np.sum)

age                           175
skill    pythonCCpythonjavascript
dtype: object